
@MEDIA(min-width: 576px)
{
    h3{
        color:#ff0000;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

@media(min-width: 768px)
{
     .header{
         background-color: #000000;
     }
     h3{
        color: aliceblue;
        text-align: center;
     }    
}